# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Credentials
gcp-credentials.json
gmail-api-credentials.json
refresh.token

# terraform/
# Terraform local files and state
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform/
#**/.terraform.lock.hcl
**/*.tfvars
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
